In [1]:
import pandas as pd 
from be.data_download import nan_rows, check_isbn, clean_isbn, delete_missing_books

C:\Users\Pavel\Desktop\Projekt-datasentics\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
df_books = pd.read_csv("Downloads/books.csv")
df_ratings = pd.read_csv("Downloads/ratings.csv")

C:\Users\Pavel\AppData\Local\Temp\ipykernel_16548\1651021219.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv("Downloads/books.csv")

# ISBN check

In [3]:
isbn_books = check_isbn(df_books)
isbn_ratings = check_isbn(df_ratings)

In [8]:
df_books['ISBN'] = clean_isbn(df_books)
df_ratings['ISBN'] = clean_isbn(df_ratings)

In [5]:
cleaned_ratings = delete_missing_books(df_books, df_ratings)

In [15]:
df_ratings = cleaned_ratings

# NaN rows in books with bad author seperation

In [11]:
temp = nan_rows(df_books)
temp = temp[-3:]
temp[temp.columns[3:8]] = temp[temp.columns[2:7]]

In [12]:
temp_authors = []
temp_titles = []
for title in temp["Book-Title"]:
    temp_authors.append((title.split(';')[-1])[:-2])
    temp_titles.append((title.split(';')[0])[:-2])
temp["Book-Title"] = temp_titles
temp["Book-Author"] = temp_authors
df_books.iloc[temp.index] = temp

In [13]:
df_ratings[df_ratings['ISBN'].isin(nan_rows(df_books)['ISBN'])]

        User-ID        ISBN  Book-Rating
273117    63714  0751352497           10
411773    98391  193169656X            9
411782    98391  1931696993            9
412805    98647  9627982032            8

# Check datatypes

In [14]:
df_books.astype({'Year-Of-Publication': 'int32'}).dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication     int32
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [ ]:
df_books[df_books.duplicated(subset='ISBN', keep=False)]

In [ ]:
df_books = df_books.drop_duplicates(subset='ISBN', keep='first')

In [16]:
df_books.to_csv("Downloads/books_cleaned.csv", index=False)
df_ratings.to_csv("Downloads/ratings_cleaned.csv", index=False)