In [1]:
import pandas as pd 
from be.data_download import nan_rows, check_isbn, clean_isbn, delete_missing_books

C:\Users\Pavel\Desktop\Projekt-datasentics\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df_books = pd.read_csv("nova_data/books.csv")
df_ratings = pd.read_csv("nova_data/ratings.csv")

In [4]:
df_books.head(10)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,7,5907,5907,1540236,969,618260307,9.780618e+12,J.R.R. Tolkien,1937.0,The Hobbit or There and Back Again,...,2071616,2196809,37653,46023,76784,288649,665635,1119718,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,8,5107,5107,3036731,360,316769177,9.780317e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2044241,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
8,9,960,960,3338963,311,1416524797,9.781417e+12,Dan Brown,2000.0,Angels & Demons,...,2001311,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
9,10,1885,1885,3060926,3455,679783261,9.780680e+12,Jane Austen,1813.0,Pride and Prejudice,...,2035490,2191465,49152,54700,86485,284852,609755,1155673,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...

# ISBN check

In [ ]:
isbn_books = check_isbn(df_books)
isbn_ratings = check_isbn(df_ratings)

In [8]:
df_books['ISBN'] = clean_isbn(df_books)
df_ratings['ISBN'] = clean_isbn(df_ratings)

In [5]:
cleaned_ratings = delete_missing_books(df_books, df_ratings)

In [15]:
df_ratings = cleaned_ratings

# NaN rows in books with bad author seperation

In [11]:
temp = nan_rows(df_books)
temp = temp[-3:]
temp[temp.columns[3:8]] = temp[temp.columns[2:7]]

In [12]:
temp_authors = []
temp_titles = []
for title in temp["Book-Title"]:
    temp_authors.append((title.split(';')[-1])[:-2])
    temp_titles.append((title.split(';')[0])[:-2])
temp["Book-Title"] = temp_titles
temp["Book-Author"] = temp_authors
df_books.iloc[temp.index] = temp

In [13]:
df_ratings[df_ratings['ISBN'].isin(nan_rows(df_books)['ISBN'])]

        User-ID        ISBN  Book-Rating
273117    63714  0751352497           10
411773    98391  193169656X            9
411782    98391  1931696993            9
412805    98647  9627982032            8

# Check datatypes

In [14]:
df_books.astype({'Year-Of-Publication': 'int32'}).dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication     int32
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [ ]:
df_books[df_books.duplicated(subset='ISBN', keep=False)]

In [ ]:
df_books = df_books.drop_duplicates(subset='ISBN', keep='first')

In [16]:
df_books.to_csv("Downloads/books_cleaned.csv", index=False)
df_ratings.to_csv("Downloads/ratings_cleaned.csv", index=False)